.error-block img {
    max-width: 100%;
}
.error-block p {
    padding: 10px;
    background: #ffffff;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
}
